.Screen-Dashboard{
    text-align:         center;
    background-color:   #13a0da;
    color:              #f2f4f3;
    margin-top:         0px;
    padding-top:        22px;
    padding-bottom:     22px;
    font-size:          34px;
    height:             46px;
    
    position:           sticky;
    top:                0px;
    z-index:            5;
}

h1 {
    margin-bottom: 0px;
}