.slideOverzicht {
    text-align: center;
    width: 100%;
}

.filters {
    margin: 10px;
    padding: 10px;
    text-align: left;
}

scr {
    border: 1px dotted black;
    padding: 5px;
    display: inline-block;
    width: 20em;
    height: 12em;
}

.scherm {
    width: 80%;
    height: 65%;
    margin: 10px;
    background-color: #444;
    border-radius: 1em;
    display: inline-block;
}

container {
    border: 1px solid black;
    margin: 10px;
    padding: 5px;
    display: inline-block;
    width: fit-content;
}