
nav {
    background-color:   #dcdcdd;
    height:             100%;
    width:              20vw;
    min-width:          fit-content;
    position: relative;
    float: left;
    
    display: block;
    
    &.closed {
        width: 36px;
        }
    
    
    @media (max-width: 480px){
        width:      100%;

        &.closed {
            width: 0%;
            }
    }
}

close {
    background-color: #E72B27;
    text-align: center;
    width: 46px;
    height: 46px;
    line-height: 46px;
    border-radius: 40px;
    display: block;
    position: absolute;
    right: -23px;
    top: 50%;    
    
    &.closed {
        transform: rotate(180deg);
    }

    @media (max-width: 480px){
        right: 0px;
        top: 46px;

        &.closed {
            right: -46px;
            }
        }
}

arrow {
    text-align: center;
    vertical-align: middle;
    line-height: 40px;

    color: #dcdcdd;
    font-size: 28px;
    font-weight: bolder;
}

img {
    height: 60%;
    
}

ul {
    margin: 0px;
    padding-right:      30px;
    &.closed{
        display: none;
    }
}

.closeable {
    transition: 0.4s;
}