html, body{
    background: rgb(231,48,43);
    background: linear-gradient(360deg, rgba(231,48,43,1) 0%, rgba(0,161,226,1) 100%);
    background-repeat: no-repeat;
   height: 100%;
}

.kennisdeling-wrapper{
    background: grey;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}