@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

* {
    margin: 0;
    padding: 0;
}



.projectshowcase-container {
    background-color: #f9f6f3;
    height: auto;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 300;

    p {
        font-family: 'Manrope', sans-serif;
    }


            .projectshowcase-bar {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 2%;
            }

            .projectshowcase-logo {
                background-image: url('../../assets/open-ict-logo.png');
                width: 100px;
                height: 90px;
                background-size: cover;
            }

            .projectshowcase-headline {
                text-align: center;
                flex-grow: 1;
                text-transform: uppercase;
                font-size: 50px;
                font-family: 'Paytone One', sans-serif;
            }

            .project, .showcase {
                display: inline-block;
            }

            .project {
                color: #01a6de;
            }

            .showcase {
                color: #ef4129;
            }


            .projectshowcase-foto {
                background-image: url('./projectshowcase1.png');
                height: 100%;
                width: 100%;
                background-position: center;
                background-size: cover;
            }

            .projectshowcase-grid{
                display: grid;
                grid-template-columns: 30% 60%;
                grid-template-rows: 1fr;
                grid-column-gap: 10%;
                // padding-left: 10%;
                // padding-right: 5%;
                // padding-top: 5%;
                padding: 5%;
                zoom: 75%;

            
            }


            .projectshowcase-foto {
                background-color: white;
                border-radius: 47% 53% 70% 30% / 54% 56% 44% 46% ;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            }

            .projectshowcase-info {
                background-color: white;
                border-radius: 2vw;
                padding: 2vw;
                display: flex;
                flex-direction: column;
                gap: 5em;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            }

           .projectshowcase-titel {
            color: #01a6de;
            font-size: 48px;
            letter-spacing: 0.03vw;
            line-height: 1.5;
            font-weight: bold;
           }

           .projectshowcase-leden {
            color: #747491;
            line-height: 1.5;
            font-size: 20px;
           }

           .projectshowcase-opdrachtgever {
            color: #747491;
            line-height: 1.5;
            font-size: 22px;
            font-weight: bold;
            align-self: flex-end;
            
           }
}