body{
//    background: rgb(231,48,43);
//background: linear-gradient(360deg, rgba(231,48,43,1) 0%, rgba(0,161,226,1) 100%);
background-repeat: no-repeat;
height: 100%;
}
Image{
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 70%;
  object-fit: cover;
}