body{
//    background: rgb(231,48,43);
//background: linear-gradient(360deg, rgba(231,48,43,1) 0%, rgba(0,161,226,1) 100%);
background-repeat: no-repeat;
height: 100%;
}

.projectshowcase-wrapper {
  position: absolute;
  z-index: 100;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: white;

  .main-title{
    padding-top: 30px;
    height: 12%;
    width: 100%;
    text-align: center;
  }
}

Image{
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 70%;
  object-fit: cover;
}

.Left{
  height: 88%;
  width: 40%;
  left: 0px;
  position: absolute;
  padding: 30px;
}

.Right{
  height: 88%;
  width: 60%;
  right: 0px;
  position: absolute;
  padding: 30px;
}